@model My_Project.Models.Personnel
@using My_Project.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">

    <h2 style="color:burlywood">Details Personnel</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Id
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_id)
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_name)
            </dd>

            <dt>
                Gender
            </dt>

            <dd>
                @if (Model.gender == true)
                {
                    <b>Female</b>
                }
                else
                {
                    <b>Male</b>
                }
            </dd>

            <dt>
                Birth
            </dt>

            <dd>
                @Model.per_birth.ToShortDateString()
            </dd>

            <dt>
                Address
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_address)
            </dd>

            <dt>
                Country
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country.country_name)
            </dd>

            <dt>
                Phone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_phone)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_email)
            </dd>

            <dt>
                Department
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Department.depart_name)
            </dd>

            <dt>
                Type
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type.type_name)
            </dd>

            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_username)
            </dd>

            <dt>
                Password
            </dt>

            <dd>
                @Html.DisplayFor(model => model.per_password)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.per_id }, new { @class = "btn btn-outline-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.per_id }, new { @class = "btn btn-outline-danger" })
    </p>
</div>